* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1d1d1d;
    position: relative;
}

small,
footer,
header {
    width: fit-content;
}

small {
    color: rgba(71, 135, 245, 0.877);
}

.header {
    display: flex;
    width: 35%;
    flex-direction: column;
    background-position: left 0px;
    top: 0;
    justify-content: space-between;
    left: 0;
    height: 100%;
    position: fixed;
    padding: 2rem 2rem;
    text-align: center;
    background-image: url(/assets/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: auto, 150%;
    background-attachment: scroll, scroll;
    color: rgb(196, 195, 195);
    font-size: 14px;
    background-size: cover;
}

.media-links {
    margin-top: 10px;

}

.media-links a {
    color: rgb(0, 0, 0);
    padding-right: 8px;
}

.avatar,
.mail {
    margin: 0 auto;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: rgba(22, 22, 22, 0.8);
}

.avatar img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 2em;
}

.mail a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.mail i,
.media-links i {
    transition: all 0.6s cubic-bezier(.25, .8, .25, 1);

}

.mail i:hover,
.media-links i:hover {
    color: rgba(71, 135, 245, 0.877);
}

.section {
    margin-left: 40%;
    padding: 20px 15px 30px 15px;
}

.bio {
    width: fit-content;
    margin: 0;
}

.bio h2,
.about h2,
li strong,
.form h3 {
    color: rgb(98, 148, 233);
    margin-bottom: 1.5em;
}

.bio-table {
    font-size: 20px;
    background-color: rgba(8, 62, 158, .7);
    padding: 10px;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 8px;
    transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
    border-collapse: collapse;
}

.bio-table td {
    padding: 8px;
}

.bio-table:hover {
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 7px 8px rgba(0, 0, 0, 0.22);
}

.about {
    max-width: 86.5%;
    margin-top: 60px;

}

.about div {
    background-color: #2e2d2f;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
    border-radius: 8px;
    transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
    color: #fff;
}

.about div:hover {
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 7px 8px rgba(0, 0, 0, 0.22);
}

.about .intro {
    margin-bottom: 1.5em;
}

.about ul {
    list-style-type: none;
    padding: 0;
    line-height: 25px;
}

.about ul li p {
    margin-bottom: 1em;
}

.form {
    margin-top: 60px;
    max-width: 86.5%;
}

.form input,
.form textarea {
    font-size: 18px;
}

.form #name,
.form #email {
    width: 92%;
    height: 2.5em;
    background: #fff;
    border: solid 2px rgba(8, 62, 158, .2);
    border-radius: 8px;
    display: block;
    padding: 0 0.75em;
    text-decoration: none;
    appearance: none;
    outline: 0;
    margin-bottom: 20px;
}

.form #message {
    width: 92%;
    background: #fff;
    border: solid 2px rgba(8, 62, 158, .2);
    border-radius: 8px;
    display: block;
    padding: 0 0.75em;
    text-decoration: none;
    appearance: none;
    outline: 0;
    margin-bottom: 20px;
    color: #a2a2a2;
    padding: 0.75em;
}

.form #submit {
    max-width: 45%;
    height: 2.5em;
    background: #fff;
    border: solid 2px rgba(8, 62, 158, .2);
    border-radius: 8px;
    display: block;
    padding: 0 0.75em;
    text-decoration: none;
    appearance: none;
    outline: 0;
    margin-bottom: 20px;
    color: #636363;
}

.form #submit,
.form #name,
.form #email,
.form #message {
    transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
}

.form #submit:hover,
.form #name:hover,
.form #email:hover,
.form #message:hover {
    outline-color: rgb(8, 62, 158);
    border: solid 2px rgb(8, 62, 158);
    color: rgba(71, 135, 245, 0.877);
}

/* laptop */
@media screen and (max-width : 1024px) {
    .header {
        width: 30%;
        background-position: left 0px;
        top: 0;
        justify-content: space-between;
        left: 0;
        height: 100%;
        padding: 2rem 2rem;
        font-size: 12px;

    }

    .section {
        width: calc(100%-30%);
        margin-left: 35%;
        padding: 20px 15px 30px 25px;
    }
}

/* tablet */
@media screen and (max-width : 768px) {
    .header {
        display: block;
        width: 100%;
        background-position: left 0px;
        top: auto;
        left: auto;
        height: 100vh;
        position: relative;
        padding: 3rem 3rem;
        text-align: center;
        background-image: url(/assets/bg-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        color: rgb(196, 195, 195);
        font-size: 14px;
        background-position: top left, center center;
        mix-blend-mode: difference;
    }

    .header::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(22, 22, 22, 0.3) !;
    }

    .avatar {
        margin-top: 15%;
    }
    footer {
        margin-top: 20% !important;
    }

    .section {
        /* width: 100vw; */
        margin: 0 auto;
        padding: 20px 15px 30px 15px;
    }

    .bio {
        padding-right: 0;
        margin: 5em auto 0 auto;
    }

    .bio h2,
    .about h2,
    .form h3 {
        line-height: 2.5em;
        text-align: center;
        margin-bottom: 0.5em;
    }

    .bio-table {
        border-collapse: collapse;
        width: 83vw;
        margin-bottom: 3em;
        font-size: 20px;

    }

    .bio-table td {
        padding: 10px;

    }

    .about {
        max-width: 90%;
        margin-top: 60px;
        margin: 0 auto;
    }

    .form {
        margin-top: 60px;
        margin-right: auto;
        margin-left: auto;

    }

    .form input,
    .form textarea {
        margin: 0 auto;
    }

    .form #submit {
        width: 92%;
        max-width: 92%;
    }
}

/* mobile-large */
@media screen and (max-width : 425px) {
    .avatar {
        margin-top: 35%;
    }

    footer {
        margin-top: 20% !important;
        font-size: 1em;
    }

    .bio-table,
    .about {
        margin-bottom: 2em;
        font-size: 14px;
    }

    .about div {
        padding: 10px;
    }

    .form h3 {
        line-height: 2em;
    }

}

/* mobile medium */
@media screen and (max-width : 375px) {
    .header {
        padding: 1.5rem 1.5rem;
    }

    .avatar {
        margin-top: 40%;
    }

    footer {
        margin-top: 40% !important;
        font-size: 1em;
    }

    .bio-table,
    .about {
        margin-bottom: 2em;
        font-size: 14px;
    }

    .about div {
        padding: 10px;
    }
}

/* mobile small */
@media screen and (max-width : 320px) {}